<div class="navbar-top-text">The Hartford India</div>
<nav class="navbar">
    <div class="logo-container">
        <div class="logo-text">
            <img src="https://assets.thehartford.com/image/upload/q_auto/logo.svg" alt="Logo" class="navbar-logo">
        </div>
    </div>

    <div class="nav-links">
        <a href="#">Auto</a>
        <a href="#">Home</a>
        <a href="#">Business</a>
        <a href="#">Employee Benefits</a>
        <a href="#">About</a>
    </div>

    <div class="search-container">
        <div class="search-box">
            <input type="text" placeholder="Help me find..." />
            <ng-icon name="heroMagnifyingGlass" size="1.2em"></ng-icon>
        </div>
    </div>

</nav>